<div>
  <button *ngIf="!navDisabled" type="button" class="modal-button" (click)="openModal()">Book Appointment</button>
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: display }">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h4 class="modal-title">Model Title</h4> -->
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-3">
                <ul class="nav flex-column left-navigation">
                  <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Enter Details</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled" href="#" aria-disabled="true">Select Service</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled" href="#" aria-disabled="true">Date and Time</a>
                      </li> -->

                  <div class="side-nav" *ngIf="!navDisabled">
                    <fieldset [disabled]="true" [formGroup]="pagesFormGroup" novalidate>
                      <div class="row">
                        <label>
                          <input type="radio" value="yourDetails" formControlName="page" />
                          <span style="text-align: left">
                            Your Details
                            <span *ngIf="pagesFormGroup.value.page=='yourDetails'" class="subNavTopics">
                              <span style="font-size: 15px">Name </span><br />
                              <span style="font-size: 15px">Phone </span><br />
                              <span style="font-size: 15px">Email </span>
                            </span>
                          </span>
                        </label>
                      </div>
                      <div class="row">
                        <label>
                          <input type="radio" value="dogDetails" formControlName="page" />
                          <span style="text-align: left">
                            Dog's Details 
                            <span *ngIf="pagesFormGroup.value.page=='dogDetails'" class="subNavTopics">
                              <span style="font-size: 15px">Name </span><br />
                              <span style="font-size: 15px">Breed </span>
                            </span>
                          </span
                          >
                        </label>
                      </div>
                      <div class="row">
                        <label>
                          <input type="radio" value="selectService" formControlName="page" />
                          <span>Select Service</span>
                        </label>
                      </div>
                      <div class="row">
                        <label>
                          <input type="radio" value="dateTime" formControlName="page" />
                          <span>Date and Time</span>
                        </label>
                      </div>
                    </fieldset>
                  </div>

                  <!-- <li class="nav-item">
                        <a class="nav-link" role="button" (click)="formComponent.changeModalPage('enterDetails')" >Enter Details</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" role="button" (click)="formComponent.changeModalPage('selectService')">Select Service</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" role="button" (click)="formComponent.changeModalPage('dateTime')">Date and Time</a>
                      </li> -->

                  <!-- <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                      </li> -->
                </ul>
              </div>
              <div class="col-9">
                <jhi-modal-details-form
                  *ngIf="!navDisabled"
                  #formComponent
                  (getButtonDisabled)="setButtonClicked($event)"
                  (getSubmitDisabled)="setSubmitClicked($event)"
                ></jhi-modal-details-form>
              </div>
            </div>

            <div *ngIf="isReview && navDisabled" class="thank-you">
              <h2 style="text-align: center; padding-top: 100px">Please Review Your Appointment</h2>
              <br />
              <h1 style="text-align: left; padding-top: 30px; padding-bottom: 30px">Booking Details:</h1>
              <div style="display: flex">
                <div style="flex: 25%">
                  <p style="text-align: left">
                    First Name: <span style="color: gray">{{ personalForm.value.firstName }}</span>
                  </p>
                  <p style="text-align: left">
                    Last Name: <span style="color: gray">{{ personalForm.value.lastName }}</span>
                  </p>
                </div>
                <div style="flex: 25%">
                  <p style="text-align: left">
                    Email: <span style="color: gray">{{ personalForm.value.email }}</span>
                  </p>
                  <p style="text-align: left">
                    Phone: <span style="color: gray">{{ personalForm.value.phone }}</span>
                  </p>
                </div>
                <div style="flex: 25%">
                  <p style="text-align: left">
                    Dog Name: <span style="color: gray">{{ dogForm.value.dogName }}</span>
                  </p>
                  <p style="text-align: left">
                    Dog Breed: <span style="color: gray">{{ dogSelected }}</span>
                  </p>
                </div>
                <div style="flex: 25%">
                  <p style="text-align: left">
                    Service: <span style="color: gray">{{ serviceForm.value.service }}</span>
                  </p>
                  <p style="text-align: left">
                    Date/Time: <span style="color: gray">{{ dateSelected }} @ {{ scheduleForm.value.time }}</span>
                  </p>
                </div>
              </div>
            </div>

            <div *ngIf="isSubmit && navDisabled" class="thank-you">
              <h2 style="text-align: center">Appointment successfully booked!</h2>
              <br />
              <p>We look forward to seeing you and your dog soon.</p>
              <br />
              <div style="padding: 5%; border: 1px solid gray">
                <h6>
                  Dog Name: <span style="color: gray">{{ dogForm.value.dogName }}</span>
                </h6>
                <p>
                  Dog Breed: <span style="color: gray">{{ dogSelected }}</span>
                </p>
                <br />
                <h6>
                  Service:
                  <span style="color: gray">{{ serviceForm.value.service }}</span>
                </h6>
                <p>
                  Date/Time: <span style="color: gray">{{ dateSelected }} @ {{ scheduleForm.value.time }}</span>
                </p>
                <br />
              </div>
              <br />
              <div style="padding: 5%">
                <p>123 Main St. <br />Fairfax, VA, 22030 <br />(703) 123-4567</p>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="isReview" class="modal-footer">
          <button class="modal-button back-button" (click)="editBackClicked()">Edit Appointment</button>

          <button class="modal-button continue-button review-button" (click)="submitClicked()">Confirm Appointment</button>
        </div>

        <div *ngIf="!isReview" class="modal-footer">
          <button *ngIf="pageNav != 'yourDetails' && !navDisabled && !isReview" class="modal-button back-button" (click)="backClicked()">
            Back
          </button>
          <button
            *ngIf="pageNav != 'dateTime'"
            class="modal-button continue-button"
            (click)="continueClicked()"
            [disabled]="buttonDisabled"
          >
            Continue
          </button>
          <button
            *ngIf="pageNav == 'dateTime' && !navDisabled"
            class="modal-button continue-button review-button"
            (click)="reviewClicked()"
            [disabled]="submitDisabled"
          >
            Review Appointment
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <first-component (click)="mySecondComponent.myFunction()"></first-component>
  <second-component #mySecondComponent></second-component> -->
