<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-dark">
  <!-- <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
    <span class="logo-img"></span>
    <span class="navbar-title">DogGrooming</span>
    <span class="navbar-version">{{ version }}</span>
  </a> -->


  <!-- replace drop down with icon -->
  <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
    <ul class="navbar-nav ml-auto">
      <li
        ngbDropdown
        class="pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
          
        </a>

      </li>
    </ul>
  </div>
</nav>
