<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.booking.title}">DogGrooming Appointment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.booking.greeting(${booking.firstName})}">Dear</p>
    <p th:text="#{email.booking.text1(${booking.dogName})}">Thank you for booking your Grooming appointment for . Here are your booking details:</p>
    <p th:text="#{email.booking.text2(${booking.service})}">Service:</p>
    <p th:text="#{email.booking.text3(${booking.date}, ${booking.time})}">Date and Time:  at </p>

    <p>
        <p th:text="#{email.booking.text4}">Please call us at 1 (111)-111-1111 if you have any questions or need to change your appointment time.</p>
    </p>

    <p>
      <span th:text="#{email.booking.text5}">Regards, </span>
      <br />
      <em th:text="#{email.signature}">DogGrooming Team.</em>
    </p>
  </body>
</html>