.selected-date {
  font-size:20px;
  text-align: right;
  padding-right:150px;
  margin-top:-50px;
  color:blue
}
.form-control {
  color: #3a3a3a;
  border: 1px solid #c4c4c4;
  margin-bottom: 27px;
}
::placeholder {
  color: #c9c9c9;
}

.alert-danger {
  margin-top: -27px;
}

.select.ng-invalid:not(form) {
  border-left: none;
}

.select {
  height: calc(1.5em + 0.75rem + 2px);
  color: #3a3a3a;
  border: 1px solid white;
  width: 100%;
  margin-bottom: 27px;
}

select:required:invalid {
  color: #c9c9c9;
}
option[value=''][disabled] {
  display: none;
}
option {
  color: black;
}

.service-buttons {
  .service-button {
    display: grid;
  }
  span {
    display: block;
    border: 1px solid #c4c4c4;
    text-align: left;
    padding: 18px;
    width: 100%;
    height: 120px;
    font-size: 20px;
    font-weight: 500;
    color: #3a3a3a;
    background-color: white;
    margin-bottom: 26px;
  }
  input {
    display: none;
  }
  input:hover + span {
    border: 1px solid #cf7a00;
    color: #cf7a00;
  }
  input:checked + span {
    border: 1px solid #cf7a00;
    color: #cf7a00;
  }
}
// .form-check {
//     display: inline-block;
//     border: 1px solid #C4C4C4;
//     text-align: left;
//     padding:18px;
//     width:100%;
//     height:102px;
//     font-size: 20px;
//     font-weight: 500;
//     color: #3A3A3A;
//     background-color: white;
//     margin-bottom:26px;

//     .form-check label{
//         color: #000000;
//     }

//     .form-check-input {
//         // display: none;
//     }

//     input:hover + span {
//         border: 1px solid #CF7A00;
//         color: #CF7A00;
//     }
//     input:checked + span {
//         border: 1px solid #CF7A00;
//         color: #CF7A00;
//     }
// }

#services button {
  margin-bottom: 26px;
}
#services button:focus {
  border: 1px solid #cf7a00;
}

h3 {
  text-align: left;
}

.time-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.time-button {
  .button-div {
    display: inline;
  }
  input {
    display: none;
  }
  span {
    display: inline-block;
    width: 185px;
    height: 50px;
    background-color: white;
    color: #3a3a3a;
    border: 1px solid #3a3a3a;
    margin: 0px 20px 20px 0px;
    font-size: 30px;
  }
  input:hover + span {
    border: 1px solid #cf7a00;
    color: #cf7a00;
  }
  input:checked + span {
    border: 1px solid #cf7a00;
    color: #cf7a00;
  }
}

.calendar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 27px;
}

// ngb-datepicker {
//     display: block !important;
//     margin-bottom: 27px;
//     // width:600px;
//     // height:600px;
// }

// .day {
//     text-align: center;
//     padding:7px;
//     border-radius:1rem;
//     width:4px !important;
// }
// .ngb-dp-day {
//     width: 300% !important;
//     height: 100% !important;
// }

// .ngb-dp-weekday {
//     width: 8em !important;
//     height: 100% !important;
// }

// ngb-datepicker .table-condensed {
//     width:600px;
//     height:600px;
// }
