.selected-date {
  font-size: 20px;
  text-align: right;
  padding-right: 30%;
  margin-top: -50px;
  color: #3e8acc;
}
.form-control {
  color: #3a3a3a;
  border: 1px solid #c4c4c4;
  margin-bottom: 27px;
}
::placeholder {
  color: #c9c9c9;
}

.row {
  padding-top: 30px;
}

.detailsh2 {
  padding-top: 20px;
}
.alert-danger {
  margin-top: -27px;
}

.select.ng-invalid:not(form) {
  border-left: none;
}

.select {
  height: calc(1.5em + 0.75rem + 2px);
  color: #3a3a3a;
  border: 1px solid white;
  width: 100%;
  margin-bottom: 27px;
}


// ::ng-deep .select-icon ::placeholder {
//   padding-left:25px !important;
// }


// ::ng-deep .select-icon ::-webkit-input-placeholder {
//   padding-left:25px !important;
// }
// ::ng-deep .select-icon :-moz-placeholder { /* Firefox 18- */
//   padding-left:25px !important;
// }
// ::ng-deep .select-icon ::-moz-placeholder {  /* Firefox 19+ */
//   padding-left:25px !important;
// }
// ::ng-deep .select-icon :-ms-input-placeholder {  
//   padding-left:25px !important;
// }
::ng-deep .select-icon .autocomplete-container .input-container input{
  // background-color: red !important ;
  background: url('images/magnifying_glass.svg') no-repeat !important;
  background-size: 20px 20px !important;
  background-position: center right !important;
  background-origin: content-box !important;
  // padding-left:25px !important;
}

select:required:invalid {
  color: #c9c9c9;
}
option[value=''][disabled] {
  display: none;
}
option {
  color: black;
}

.service-buttons {
  .service-button {
    display: grid;
  }
  span {
    display: block;
    text-align: left;
    padding: 18px;
    width: 100%;
    height: 120px;
    font-size: 20px;
    font-weight: 500;
    color: #3a3a3a;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 2px 6px 0 lightgray;
    margin-bottom: 26px;
  }
  input {
    display: none;
  }
  input:hover + span {
    border: 1px solid #cf7a00;
    color: #cf7a00;
  }
  input:checked + span {
    border: 1px solid #cf7a00;
    color: #cf7a00;
  }
}

#services button {
  margin-bottom: 26px;
}
#services button:focus {
  border: 1px solid #cf7a00;
}

h3 {
  text-align: left;
}

.time-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.time-button {
  .button-div {
    display: inline;
  }
  input {
    display: none;
  }
  span {
    display: inline-block;
    width: 185px;
    height: 50px;
    color: #3a3a3a;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 2px 6px 0 lightgray;
    margin: 0px 20px 20px 0px;
    font-size: 30px;
  }
  input:hover + span {
    border: 1px solid #cf7a00;
    color: #cf7a00;
  }
  input:checked + span {
    border: 1px solid #cf7a00;
    color: #cf7a00;
  }
}

.calendar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 27px;
}
