h2 {
    text-align: left;
    color: #3A3A3A;
    font-weight: 500;
    // font-size: 64px;
    // line-height:75px;
}

.form-control {
    margin-bottom:33px;
    color: #3A3A3A;
    border: 1px solid #C4C4C4;
}
::placeholder {
    color: #C9C9C9
}

select {
    height: calc(1.5em + 0.75rem + 2px);
    margin-bottom:33px;
    color: #3A3A3A;
    border: 1px solid #C4C4C4;
    width: 100%;
}

select:required:invalid {
    color: #C9C9C9;
}
option[value=""][disabled] {
    display: none;
}
option {
    color: black;   
}