
<div id="user-details" *ngIf="page === pages[0]">
  <h2>Your Details</h2>
  <form [formGroup]="userDetailsFormGroup" novalidate>
    <div class="row">
      <div class="col">
        <div style="text-align: left">
          <h4>First Name<span style="color: red">*</span></h4>
        </div>
        <input formControlName="firstName" required type="text" class="form-control" placeholder="First Name" aria-label="first-name" />
        <!-- <div *ngIf="showErrors || userDetailsFormGroup.controls['firstName'].invalid && (userDetailsFormGroup.controls['firstName'].dirty || userDetailsFormGroup.controls['firstName'].touched)" class="alert alert-danger">
            First name is required.
        </div> -->
        <div
          *ngIf="
            userDetailsFormGroup.controls['firstName'].invalid &&
            (userDetailsFormGroup.controls['firstName'].dirty || userDetailsFormGroup.controls['firstName'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="userDetailsFormGroup.controls['firstName'].errors?.required">First Name is required.</div>
        </div>
        <div style="text-align: left">
          <h4>Phone Number<span style="color: red">*</span></h4>
        </div>
        <input
          formControlName="phone"
          required
          type="tel"
          class="form-control"
          placeholder="(###-###-####)"
          aria-label="phone"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
        />
        <!-- <div *ngIf="showErrors" class="alert alert-danger">
          Phone number is required.
        </div> -->
        <div
          *ngIf="
            userDetailsFormGroup.controls['phone'].invalid &&
            (userDetailsFormGroup.controls['phone'].dirty || userDetailsFormGroup.controls['phone'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="userDetailsFormGroup.controls['phone'].errors?.required">Phone number is required.</div>
          <div *ngIf="userDetailsFormGroup.controls['phone'].errors?.pattern">Invalid phone number pattern.</div>
        </div>
      </div>
      <div class="col">
        <div style="text-align: left">
          <h4>Last Name<span style="color: red">*</span></h4>
        </div>
        <input formControlName="lastName" required type="text" class="form-control" placeholder="Last Name" aria-label="last-name" />
        <!-- <div *ngIf="showErrors" class="alert alert-danger">
          Last name is required.
        </div> -->
        <div
          *ngIf="
            userDetailsFormGroup.controls['lastName'].invalid &&
            (userDetailsFormGroup.controls['lastName'].dirty || userDetailsFormGroup.controls['lastName'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="userDetailsFormGroup.controls['lastName'].errors?.required">Last name is required.</div>
        </div>
        <div style="text-align: left">
          <h4>Email Address<span style="color: red">*</span></h4>
        </div>
        <input
          formControlName="email"
          required
          type="email"
          class="form-control"
          placeholder="(name@domain.com)"
          aria-label="email-address"
        />
        <!-- <div *ngIf="showErrors" class="alert alert-danger">
          Email is required.
        </div> -->
        <div
          *ngIf="
            userDetailsFormGroup.controls['email'].invalid &&
            (userDetailsFormGroup.controls['email'].dirty || userDetailsFormGroup.controls['email'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="userDetailsFormGroup.controls['email'].errors?.required">Email is required.</div>
        </div>
      </div>
    </div>

    <h2>Dog's Details</h2>
    <div class="row">
      <div class="col">
        <div style="text-align: left">
          <h4>Dog's Name<span style="color: red">*</span></h4>
        </div>
        <input formControlName="dogName" required type="text" class="form-control" placeholder="Name" aria-label="dog-name" />
        <div
          *ngIf="
            userDetailsFormGroup.controls['dogName'].invalid &&
            (userDetailsFormGroup.controls['dogName'].dirty || userDetailsFormGroup.controls['dogName'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="userDetailsFormGroup.controls['dogName'].errors?.required">Dog Name is required.</div>
        </div>
      </div>
      <div class="col">
        <div style="text-align: left">
          <h4>Dog Breed<span style="color: red">*</span></h4>
        </div>

        <ng-autocomplete class="select" #ngAutoCompleteStatic
          [data]="dogList"
          formControlName="dogSelect"
          name="dog-select"
          [(ngModel)]="name"
          [initialValue]=""
          placeholder="Select Dog Breed"
          [searchKeyword]="keyword"
          notFoundText="Not found"
          [itemTemplate]="itemTemplateStatic"
          [notFoundTemplate]="notFoundTemplate"
        >
        </ng-autocomplete>

        <ng-template #itemTemplateStatic let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>

        <div
          *ngIf="
            userDetailsFormGroup.controls['dogSelect'].invalid &&
            (userDetailsFormGroup.controls['dogSelect'].dirty || userDetailsFormGroup.controls['dogSelect'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="userDetailsFormGroup.controls['dogSelect'].errors?.required">Dog Breed is required.</div>
        </div>
      </div>
    </div>
  </form>
</div>

<div id="services" *ngIf="page === pages[1]">
  <h2>Select one service<span style="color: red">*</span></h2>
  <form [formGroup]="servicesFormGroup" novalidate>
    <div class="service-buttons">
      <div *ngFor="let service of Services; let i = index" class="service-button">
        <label>
          <input type="radio" formControlName="service" value="{{ service.value }}" />
          <span>
            {{ service.label }}
            <div>{{ service.bio }}</div>
            <div style="color: #acacac">{{ service.desc }}</div>
          </span>
        </label>
      </div>
    </div>
  </form>
</div>

<div id="calendar" *ngIf="page === pages[2]">
  <h2>Select a date and time<span style="color: red">*</span></h2>
  <form [formGroup]="calendarFormGroup" novalidate>
    <div class="calendar">
      <ngb-datepicker #dp formControlName="calendar" [(ngModel)]="model" 
      [minDate]="minDate" [maxDate]="maxDate"  (navigate)="date = $event.next"></ngb-datepicker>
    </div>

    <div *ngIf="model" class="selected-date">
      Date selected: {{model | date:'mediumDate'}}
    </div>
  

    <div *ngIf="calendarValid">
      <h3>Morning</h3>
      <div class="time-buttons">
        <div *ngFor="let time of MorningButtons; let i = index" class="button-div">
          <label class="time-button">
            <input type="radio" value="{{ time.name }}" formControlName="time" />
            <span>{{ time.name }}</span>
          </label>
        </div>
      </div>

      <h3>Afternoon</h3>
      <div class="time-buttons">
        <div *ngFor="let time of AfternoonButtons; let i = index" class="button-div">
          <label class="time-button">
            <input type="radio" value="{{ time.name }}" formControlName="time" />
            <span>{{ time.name }}</span>
          </label>
        </div>
      </div>
    </div>
  </form>
</div>
