<!-- <span class="background-photo"></span> -->
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

<div class="home-page">
  <div class="body">
    <h1>Professional Dog Grooming</h1>
    <h6>World class grooming at affordable prices, all just a click away</h6>

    <jhi-modal-content></jhi-modal-content>
  </div>
</div>
